<div class ="container-fluid bg-image">
{{!-- <div class="inline text-center">
<h1 class="text-center">Title: {{journalData.title}}</h1>
<h2 class="text-center"> Description: {{journalData.content}}</h2>
<h3 class="text-center"> Created On: {{format_date journalData.date}}</h3> --}}
        {{!-- <button class="btn btn-success btn-sm w-10 mt-4 p-3" data-id='{{this.id}}' id="edit-journal-btn">
           Edit Journal Title and Description
        </button> --}}
        {{!-- <button class="btn btn-danger btn-sm w-10 mt-4 p-3">
            Delete Journal
        </button> --}}

        <button type="button" class="btn btn-secondary btn-sm w-10 mt-4 p-3" onclick="history.back()">Go Back</button>
        <button type="button" class="btn btn-secondary btn-sm w-10 mt-4 p-3" id='add-new-page' >Add Page</button>
{{!-- </div> --}}

<div class="container-fluid">
<div class="wrapper ">
  <div class="aspect">
    <div class="aspect-inner d-flex align-items-center justify-content-center">
      <div class="book" id="journal">
        <div class="cover" id="editable">
          <div class="text-center mt-4">
          {{!-- <h1>{{journalData.title}}</h1>
          <h2>{{journalData.content}}</h2> --}}
         <h1 class="text-center"> {{#if journalData.title}}
            <span id="editableJournalTitle" class="editable-text" data-field="title">{{journalData.title}}</span>
          {{else}}
            <span id="editableJournalTitle" class="editable-text" data-field="title">Enter A Journal Title</span>
          {{/if}}</h1>

           <h3>{{#if journalData.content}}
            <span id="editableJournalContent" class="editable-text" data-field="content">{{journalData.content}}</span>
          {{else}}
            <span id="editableJournalContent" class="editable-text" data-field="content">Enter a Journal Description</span>
          {{/if}}</h3>



          <p>Created On: {{format_date journalData.date}}</p>
          <div class="icons-container position-absolute bottom-0 start-50 translate-middle-x mb-2">
             <button type="button" class="btn btn-success btn-sm" id="save-button">
              <i  class="bi bi-save2"></i> 
            </button>
            <button type="button" class="btn btn-danger btn-sm" id="delete-journal-btn">
              <i class="bi bi-trash"></i> <!-- Replace "fa-trash-alt" with the appropriate trashcan icon class -->
            </button>
         </div>
          </div>
        </div>


        <div class="page"></div>
        <div class="page">This Journal Belongs to:



        </div>




        {{#if pageData.length}}
  {{#each pageData}}
    <div class="page" data-page-id="{{id}}">
      <div class="m-4">
        <h1 class="text-center"> {{#if title}}
            <span id="editableTitle" class="editable-text" data-field="title">{{title}}</span>
          {{else}}
            <span id="editableTitle" class="editable-text" data-field="title">Enter A Title</span>
          {{/if}}</h1>
        {{!-- <input type="text" class="title-input" value="{{title}}"> --}}
      </div>
      <div class="line"></div>
      <div class="m-4">
        <p>{{#if content}}
            <span id="editableContent" class="editable-text" data-field="content">{{content}}</span>
          {{else}}
            <span id="editableContent" class="editable-text" data-field="content">What's on your mind?</span>
          {{/if}}</p>
        {{!-- <textarea class="content-textarea">{{content}}</textarea> --}}
      </div>
      

  <div class="icons-container position-absolute bottom-0 start-50 translate-middle-x mb-2">
    <button type="button" class="btn btn-success btn-sm save-btn">
      <i class="bi bi-save2"></i> 
    </button>
    <button type="button" class="btn btn-danger btn-sm del-page-btn">
      <i class="bi bi-trash"></i> 
    </button>
  </div>


    </div>
  {{/each}}
{{else}}
  <p class="text-2xl text-center pt-8 text-stone-600"></p>
{{/if}}

        <div class="page"></div>
        <div class="page"></div>
        <div class="page">End</div>
        {{!-- <div class="page"><img src="https://picsum.photos/200/300.jpg" draggable="false" alt="" /></div> --}}
        <div class="cover"></div>
      </div>
    </div>
  </div>
</div>

</div>


</div>
{{!-- DN Test --}}
  {{!-- DN Test --}}
  <script src="/js/pageTurnHandler.js"></script>
  <script src="/js/edit-delete-journal.js"></script>
  <script src="/js/page-edi-del-cre.js"></script>
  {{!--  --}}



{{!-- DN Test --}}

